@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900; /* Black weight */
  src: url("fonts/raleway/Raleway-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600; /* SemiBold weight */
  src: url("fonts/raleway/Raleway-SemiBold.ttf") format("truetype");
}
